<a href="https://colab.research.google.com/github/DeniseYuki/Teste_Analise_de_Dados/blob/main/Atividade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Criando um DataFrame fictício sobre o consumo de veículos
data = {
    'Modelo': ['Sedan', 'SUV', 'Hatchback', 'Coupé', 'Convertible'],
    'Consumo_Cidade_km/L': [10, 8, 12, 9, 7],
    'Consumo_Estrada_km/L': [14, 10, 15, 12, 9],
    'Preço_R$': [75000, 120000, 60000, 90000, 140000],
    'Ano': [2022, 2021, 2023, 2022, 2023]
}

df_estudo = pd.DataFrame(data)
print(df_estudo)

        Modelo  Consumo_Cidade_km/L  Consumo_Estrada_km/L  Preço_R$   Ano
0        Sedan                   10                    14     75000  2022
1          SUV                    8                    10    120000  2021
2    Hatchback                   12                    15     60000  2023
3        Coupé                    9                    12     90000  2022
4  Convertible                    7                     9    140000  2023

In [7]:
df_estudo.columns=["modelo","consumo1","consumo2","preco","ano"]
print(df_estudo)

        modelo  consumo1  consumo2   preco   ano
0        Sedan        10        14   75000  2022
1          SUV         8        10  120000  2021
2    Hatchback        12        15   60000  2023
3        Coupé         9        12   90000  2022
4  Convertible         7         9  140000  2023

In [11]:
preco = df_estudo["preco"].unique()

In [15]:
media = preco.mean()
media

97000.0

In [23]:
consumo_Cidade = df_estudo["consumo1"].unique()
consumo_Cidade

array([10,  8, 12,  9,  7])

In [24]:
Media_C = consumo_Cidade.mean()
Media_C

9.2

In [22]:
consumo_Estrada = df_estudo["consumo2"].unique()
consumo_Estrada

array([14, 10, 15, 12,  9])

In [25]:
Media_E = consumo_Estrada.mean()
Media_E

12.0